<!DOCTYPE html>
<html lang="nl">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53599033-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-53599033-3');
        </script>

        <title>Waar is de NOW? - NOW Regeling Inzichtelijk</title>

        <meta charset="UTF-8">
        <meta name="language" content="Dutch">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index, follow">

        <meta name="title" content="Waar is de NOW? - NOW Regeling Inzichtelijk">
        <meta name="description" content="De tijdelijke Noodmaatregel Overbrugging Werkgelegenheid (NOW) is een subsidie die uit publiek geld wordt betaald. Naar welke bedrijven is deze subsidie toegegaan?">
        <meta name="keywords" content="NOW Regeling Inzichtelijk">

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://now-inzichtelijk.nl/">
        <meta property="og:title" content="Waar is de NOW? - NOW Regeling Inzichtelijk">
        <meta property="og:description" content="De tijdelijke Noodmaatregel Overbrugging Werkgelegenheid (NOW) is een subsidie die uit publiek geld wordt betaald. Naar welke bedrijven is deze subsidie toegegaan?">
        <meta property="og:image" content="{{ absolute_url('img/thumb.png') }}">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://now-inzichtelijk.nl/">
        <meta property="twitter:title" content="Waar is de NOW? - NOW Regeling Inzichtelijk">
        <meta property="twitter:description" content="De tijdelijke Noodmaatregel Overbrugging Werkgelegenheid (NOW) is een subsidie die uit publiek geld wordt betaald. Naar welke bedrijven is deze subsidie toegegaan?">
        <meta property="twitter:image" content="{{ absolute_url('img/thumb.png') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicons/site.webmanifest') }}">

        <link rel="preconnect" href="https://cdn.jsdelivr.net">
        <link rel="preconnect" href="https://cdnjs.cloudflare.com">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
